language: ruby
cache:
  directories:
  - vendor/bundle
  - vendor/cookbooks
sudo: false
bundler_args: --without integration --path=$PWD/vendor/bundle
rvm:
  - 2.3.1
install:
  - bundle install
script:
  - bundle exec rubocop .
  - bundle exec foodcritic --progress -f any .
notifications:
 email: false
